body {
    background: #ffebd7;
    margin: 0;
}
a,
a:focus,
a:visited {
    text-decoration: none;
    color: #bd772a;
    &.link {
        transition: all 0.2s ease;
        &:hover {
            color: #3915ea;
        }
    }
}
h1 {
    font-size: 42px;
    color: #bd772a;
}
h2 {
    font-size: 32px;
}
p {
    font-size: 18px;
}
img {
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.align-center {
    text-align: center;
}
.hero-img {
    width: 100%;
    height: 300px;
}
.margin-top-30 {
    margin-top: 30px;
}
.super-container {
    max-width: $supreme-max-width;
    margin: 0 auto;
}
.content {
    min-height: 100vh;
}
.full-width {
    width: 100%;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.img-container {
    background: #fff;
}
