* {
    transition: all .1s linear;
}
body {
    margin:0;
    padding:0;
}
img {
    max-width: 100%;
    display: block;
}
.video-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }    
}
.content-container {
    padding: 30px;
    max-width: 50rem;
    margin:0 auto;
    @media (min-width: 1280px) {
        padding:0;
    }
}
.content-med-container {
    padding: 30px;
    max-width: 50rem;
    margin:0 auto;
    @media (min-width: 1280px) {
        padding:0;
    }
    
}
.content-large-container {
    padding: 30px;
    max-width: 70rem;
    margin:0 auto;
    @media (min-width: 1280px) {
        padding:0;
    }
    @media (min-width: 1920px) {
        max-width: 1920px;
    }
    
}
.project-container {
    padding-top: 3rem;
    padding-bottom: 6rem;
}
.whole-height {
    min-height: 100vh;
}

.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.grid-2-item, .grid-3-item, .grid-3-2-item {
    margin-top: 2rem;
}
.bullet {
    position:relative;
    &:after {
        content:"";
        width:4px;
        height: 100%;
        background: #333333;
        display:block;
        position: absolute;
        left: -15px;
        top:0;
    }
}
@media (min-width:768px) {
    .grid-2-item {
        width:48.5%;
        margin-top: 0;
        &.left {
            padding-right:1.5%;
        }
        &.right {
            padding-left:1.5%;
        }
    }
    .grid-3-item {
        width: 31.25%;
        margin-top: 0;
        &.left {
            padding-right:1.5%;
        }
        &.middle {
            padding-right: 1.5%;
            padding-left: 1.5%;
        }
        &.right {
            padding-left: 1.5%;
        }
    }
    .grid-3-2-item {
        margin-top: 0;
        width:62.5%;
        &.left {
            padding-right:1.5%;
        }
    }
}

.small-caps {
    font-variant: small-caps;
    letter-spacing: .0625rem;
}
ul {
    list-style: none;
    padding-left:0;
    margin-top:0;
}
