@import url("https://fonts.googleapis.com/css?family=Lora:400,700");

.sans-serif,
body {
    font-family: "Lora", sans-serif;
    font-weight: 400;
}
.serif,
.header {
    font-family: "Lora", serif;
    font-weight: 700;
}
.bold {
    font-weight: 700;
}
