//@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

$header: "Poppins";
$paragraph: "Open Sans";


.sans-serif,
body {
    font-family: $paragraph, sans-serif;
    font-weight: 400;
}
.serif,
.header {
    font-family: $header, serif;
    font-weight: 700;
}
.bold {
    font-weight: 700;
}
