.footer {
    background: $dark-brown;
    color: $white;
    position: relative;
    &:before {
        content: "";
        width: $logo-width;
        height: $logo-width;
        border-bottom: 10px solid $gold;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        background: $tan;
        position: absolute;
        left: calc(50% - #{$logo-width} / 2);
        bottom: calc(100% - #{$logo-width}/ 2);
    }
}
.footer-inner {
    padding: 20px 30px;
    @include min-tablet {
        display: flex;
        justify-content: space-between;
        padding: 30px 35px;
    }
    .footer-header {
        color: $gold;
        font-size: 5vw;
        margin: 0;
        @include min-tablet {
            font-size: 28px;
        }
    }
    .footer-p {
        font-size: 3vw;
        @include min-tablet {
            font-size: 18px;
        }
    }
}
.footer-section {
    @include min-tablet {
        width: calc(50% - #{$logo-width} / 2);
    }
}
.socials-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-size: 16px;
    list-style: none;
}
.socials-link {
    color: $white;
    &:hover {
        color: $gold;
    }
    font-size: 3vw;
    @include min-tablet {
        font-size: 18px;
    }
}
