.footer {
    background: $dark-brown;
    color: $white;
    @include min-tablet {
        display: flex;
        justify-content: space-between;
    }
    .footer-header {
        color: $gold;
        font-size: 4vw;
        @include min-tablet {
            font-size: 28px;
        }
    }
    .footer-p {
        font-size: 2.5vw;
        @include min-tablet {
            font-size: 18px;
        }
    }
}
.footer-section {
    @include min-tablet {
        max-width: 45%;
    }
}
.socials-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-size: 16px;
    list-style: none;
}
.socials-link {
    color: $white;
    &:hover {
        color: $gold;
    }
    font-size: 2.5vw;
    @include min-tablet {
        font-size: 18px;
    }
}
