.footer {
    background: $dark-brown;
    color: $white;
}
.footer-inner {
    padding: 20px 30px;
    @include min-tablet {
        display: flex;
        justify-content: space-between;
        padding: 30px 35px;
    }
    .footer-header {
        color: $gold;
        font-size: 5vw;
        margin: 0;
        @include min-tablet {
            font-size: 28px;
        }
    }
    .footer-p {
        font-size: 3vw;
        @include min-tablet {
            font-size: 18px;
        }
    }
}
.footer-section {
    @include min-tablet {
        width: calc(50% - 50px / 2);
    }
}
.socials-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    font-size: 16px;
    list-style: none;
}
.socials-link {
    color: $white;
    &:hover {
        color: $gold;
    }
    font-size: 3vw;
    @include min-tablet {
        font-size: 18px;
    }
}
