
.container {
  padding:30px;
}


.portfolio-link {
    transition: all 0.4s ease 0.4s;
    margin: 10px 10px 75px;
}

.portfolio-item {
    margin: 0 10px;
    transition: all 0.4s ease;
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
.portfolio-item .img-container {
    position: relative;
    max-width: 320px;
    max-height: 320px;

    overflow: hidden;
    transition: 0.4s all ease 0.1s;

}

.portfolio-item img {
    width:100%;
    min-width: 100%;
}

.about-me-p, .process-p {
  text-align:left;
  font-size: 16px;
  line-height: 1.5;
  padding: 15px;
}

.home-header {
  padding-left:65px;
}
