.nav {
    padding-top: .125rem;
    padding-bottom: .125rem;
}
.nav-item-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    li {
        display: inherit;
        font-weight: bold;
        font-family: $header;
        font-size:1.5rem;
        align-self: flex-end;
        
    }
    .logo{
        font-size:1.75rem;
        a::before {
            bottom:0px
        }
    }
    
}