.nav {
    background: #211406;
    a {
        color: white;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
}
.nav-list {
    display: flex;
    justify-content: left;
    font-size: 16px;
    list-style: none;
    max-width: 992px;
    margin: 0 auto;
    padding: 15px;
}
.nav-list-item {
}
.nav-link {
}
.home {
    display: block;
    background-size: contain;
    width: 50px;
    height: 50px;
}
.drop-down {
    position: relative;
    padding: 0 15px;
    display: inline-block;
    .drop-down-list {
        background: #211406;
        padding: 20px 0 10px;
        position: absolute;
        left: 0;
        opacity: 0;
        width: 200px;
        flex-direction: column;
        display: none;
        li {
            padding: 5px 10px;
            display: block;
        }
    }
    &:hover .drop-down-list {
        display: block;
        opacity: 1;
    }
}
