.mb-0 {
    margin-bottom: 0;
}
.mb-s {
    margin-bottom: .5rem;
}
.mb-m {
    margin-bottom: 1rem;
}
.mb-l {
    margin-bottom: 1.5rem;
}
.mb-xl {
    margin-bottom: 2rem;
}
.mr-xl {
    margin-right: 2rem;
}
.mb-xxl {
    margin-bottom:2.5rem;
}
.mb-xxxl {
    margin-bottom: 3rem;
}
.mt-m {
    margin-top:1rem;
}
.mt-l {
    margin-top:1.5rem;
}
.mt-xl {
    margin-top:2rem;
}
.mt-xxxl {
    margin-top:3rem;
}
.mt-separate {
    margin-top: 15vh;
}
.pb-0 {
    padding-bottom: 0;
}
.pt-0 {
    padding-top: 0;
}
.pt-m {
    padding-top:1rem;
}
.pl-xxxl {
    box-sizing: border-box;
    @media (min-width: 769px) {
        padding-left: 4rem;
    }
}
.pr-xxxl {
    box-sizing: border-box;
    @media (min-width: 769px) {
        padding-right: 4rem;
    }
}
.pl-xl {
    box-sizing: border-box;
    @media (min-width: 769px) {
        padding-left: 2rem;
    }
}
.pr-xl {
    box-sizing: border-box;
    @media (min-width: 769px) {
        padding-right: 2rem;   
    }
}
.plr-m {
    padding-left: 1rem;
    padding-right: 1rem;
}
.plr-xxxl {
    padding-left: 3rem;
    padding-right: 3rem;
}

.mlr-m {
    margin-left: 1rem;
    margin-right: 1rem;
}
.ml-m {
    margin-left: 1rem;
}
.m-0 {
    margin: 0;
}
.ptb-0-mt {
    @media (max-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
    }
    
}
.plr-0-mt {
    @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
   
}