.mb-0 {
    margin-bottom: 0;
}
.mb-s {
    margin-bottom: .5rem;
}
.mb-m {
    margin-bottom: 1rem;
}
.mb-l {
    margin-bottom: 1.5rem;
}
.mb-xl {
    margin-bottom: 2rem;
}
.mr-xl {
    margin-right: 2rem;
}
.mb-xxl {
    margin-bottom:2.5rem;
}
.mt-xl {
    margin-top:2rem;
}
.mt-separate {
    margin-top: 15vh;
}
.pb-0 {
    padding-bottom: 0;
}
.pt-0 {
    padding-top: 0;
}