.project-container {
    padding: 100px 0px;
    max-width: 768px;
    margin: 0 auto;
    .img-container {
        margin: 20px 0px;
        margin-bottom:10px;
        text-align: center;
    }
}
.project-title {
    font-family: $header, serif;
    text-align: center;
    width: 100%;
    margin: 0 0 1.4em;
}
.project-section {
  margin: 50px 0px;
}
.project-header {
    font-family: $header, serif;
    margin-bottom: 15px;
}
.project-subheader {
    font-family: $header, serif;
    margin: 15px 0px 10px;
    font-size: 1.25rem;
}
.project-p, .project-content span, .project-list {
    text-indent: 40px;
    line-height: 2;
    font-size:1rem;
}
.external-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 0px;
}
.role-container {
    line-height: 2;
    font-size: 1rem;
    .role-name {
      font-weight: 700;
      font-size: 1rem;
    }
}
a.btn {
    margin: 0px 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 1.25rem;
    .label {
        display: inline-block;
        position: relative;
        transition: all 0.15s ease;
        bottom: 0;
    }
    &:hover {
        .label {
            color: $link-hover;
        }
    }
}
.project-container a {
  text-decoration: underline;
  color:$purple;
  &:hover {
    color:$purple
  }
}
.project-list {
  font-size: 1rem;
  .project-list-item {
    margin: 15px;
  }
}
.back-home {
    font-size: 1.5px;
    margin-top: 50px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .grid-2 {
      width: 16.67%;
    }
    .grid-3 {
      width: 25%;
    }

    .grid-6 {
        width: 49.5%;
    }

    .pad-8 {
        margin-left: 16%;
        margin-right: 16%;
    }
    .grid-12 {
        width: 100%;
    }



    .grid-4 {
        width: 50%;
    }
    .grid-8 {
        width: 50%;
    }
}
@media screen and (min-width: 1168px) {
    .grid-4 {
        width: 33%;
    }
    .grid-8 {
        width: 66%;
    }

}
@media screen and (max-width: 991px) {
    .project-container {
        padding: 100px 30px;
    }
}
