$tea-brown: #bd772a;
$brown: #8e4f0a;
$dark-brown: #211406;
$tan: #ffebd7;
$gold: #dfa700;
$blue: #3915ea;
$purple: #61007e;
$white: #ffffff;
$black: #000000;
$link-hover: $blue;

$logo-width: 80px;
$logo-width-wide: 120px;

$static: "../../static/";
/* media queries*/
$tablet-width: 768px;
$desktop-width: 1024px;
$supreme-max-width: 1200px;
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin min-tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
