$link-color: black;
$link-color-hover: #4269EF;
$link-color-visited: $link-color;

$simon-bg: #93B9F1;
$govcontact-bg: #EDDFCB;
$subconscious-bg: #F4F8F9;
$jobhunting-bg: #FFAC9C;
$sanskriti-bg: #FFDF84;

$simon-fg: #fcfeff;
$govcontact-fg: #3A3936;
$subconscious-fg: #0d343d;
$jobhunting-fg: #fffcfa;
$sanskriti-fg: #5C470A;