extends ../layout

block content
    .project-container.display-flex
        h1.project-title Acro Art
        +section("Background")
            span.
                A collection of illustrations in the 
                theme of the circus and acrobatics.
        +img("splitsLyra.jpg").grid-8.fade-in.delay-little
        +img("butterfly.jpg").grid-4.fade-in.delay-medium
        +img("silksKick.jpg").grid-6.fade-in.delay-little
        +img("hangSilks.jpg").grid-6.fade-in.delay-medium
        +img("cocoon.jpg").grid-4.fade-in.delay-high
        +img("dolphinLyra.jpg").grid-4.fade-in.delay-high
        +img("ironxPole.jpg").grid-4.fade-in.delay-high
        
