extends ../layout

block content
    .project-container
        h1.project-title 2942 Space Battle
        +section("Background")
            span.
                2942 is based on the classic game 1942. It takes place a thousand years later, in which 
                aliens are attacking earth, and it's one spaceship's mission to push the aliens back. 
                The game, created in Unity3D, takes place hundreds of years in the future, but the battle is still the same.
            +youtube("5PB5JPtji7Y", "game demo")
            
        +section("Creating the Landscape")
            span.
                Since the game is based in space, I wanted to utilize planet textures, 
                star patterns, and spacehip models for the design.
                To get the vertical scrolling as in 1942, I placed the Unity3D camera above the rotating cylinder that represented the space backround. 
            +img("cylinderfront.png", "front view")
            +img("cylinderside.png", "side view")
        +section("Game and Level Design")
            span.
                All the enemies were alien spaceships that fired missiles at the player. 
                Enemies can drop power ups like shields and ammo that the player ship can salvage.
                The level system is divided into waves that are continously spawned. 
                Enemies are assembled into waves and spawned based on a timer.
            +img("levels.png", "level system")
        +section("User Interface")
            span.
                The user interface was meant to take up a small area of the screen. 
                Most of the player's attention would be devoted to piloting the ship and firing at enemies.
                The interface only shows the amount of points, health, and lives the player has left.
            +img("ui.png", "ui")

        +backHome(topDir)
