mixin footer(footer)
    footer.footer
        .super-container
            .footer-inner 
                .get-in-touch.footer-section
                    h3.footer-header.header
                        |Get in Touch
                    p.footer-p Say hello at 
                        a(href="mailto:renojvarghese.edu") renoj.varghese@uconn.edu
                    
                .footer-socials.footer-section
                    h3.footer-header.header Checkout More
                    ul.socials-list
                        each social in footer.socials
                            li.socials-item 
                                a.socials-link(href=social.link)=social.name
                    .resume-container
                        a(href="static/docs/resumeRenojVarghese.pdf").button="View Resume"
                    
