mixin navitem(page, topDir)
    li.nav-list-item
        a.nav-link(href=topDir+ page.filename)=page.title

mixin dropnavlist(pages, name, topDir)
    .drop-down
        a.drop-down-trigger=name
        ul.nav-list.drop-down-list
            each page in pages
                +navitem(page, topDir)

mixin nav(nav,topDir)
    nav.nav.fade-in.delay-little
        .super-conatiner
            +dropnavlist(nav.projects, "Projects", topDir)
        
            
