extends ./layout

block content
    +nav(nav,topDir)
    .content-med-container.mt-xxxl
        h3.animate.fade.slide-down About Renoj
        p.project-p.animate.fade.delay-small.slide-down I knew I enjoyed helping people ever since I began volunteering at a hospital. And part of me always wanted to be in a creative and technical field, where I can craft something that's never been made before. Product and UX Design is that intersection where my love for helping people meets my passions for creativity and technology.
        
        h6.animate.fade.delay-med.slide-down Philosophy
        p.project-p.animate.fade.delay-med.slide-down Product and UX Design is like creating a present for someone. I spend my time understanding someone’s needs and giving an experience that makes their life better. It’s a rewarding job to design for people. This mindset gives me a caring and attentive approach to my work, where I consider the littlest details of a solution. 

        h6.animate.fade.delay-large.slide-down Activities
        p.project-p.animate.fade.delay-large.slide-down I’m currently working on my Masters in Digital Media and Design. Outside of class, you can find me 
            a.bold(href="https://youtu.be/3iPLYzFUR0I?t=76" target="_blank" ) projecting animations onto buildings
            |, 
            a.bold(href="https://naturally.uconn.edu/2019/11/12/forest-management-researcher-designs-museum-installation/#" target="_blank" ) working on museum installations
            |, and 
            a.bold(href="https://github.uconn.edu/pages/rkv14001/3D-spheres/" target="_blank" ) utilizing JavaScript for art
            |.
        //h3 Intro
        //p.mb-s.
            Hello! My name is Renoj. I'm currently pursuing a Masters in Digital Media and Design. 
        //p.project-p Outside of class, you can find me working on museum installations, projecting animations onto buildings, and utilizing JavaScript for art   
        //h3 Philosophy
        //p.project-p UX and Product Design is like creating a present for someone. I spend my time understanding someone’s needs to craft a new solution to make their life a little bit better. It’s a rewarding job to design for people. Let’s work together to make something awesome! 

        