extends ./layout

block content
    - const subpages = self.htmlWebpackPlugin.options.pages.slice(1)
    .content-med-container.home-hero
        .align-middle
            h1 Renoj, a product designer with a technical mind and 
            h1.mb-xl  creative heart.
            h2.mb-0 Check out my work below
            h2 And make sure to say “Hi” at renoj@uconn.edu
    .projects
        each project in subpages
            - const bg_url = project.icon
            div(class="project")
                .project-background
                    +img_absolute(images + project.token + "/icon.png", project.token)
                
                div(class="project-text-block project-text " + project.token)
                    h3.mb-s=project.title
                    p.mb-xl=project.description
                    a(href=project.filename) 
                        h4 Read More
        