doctype html
html
    head
        link(rel="stylesheet" href="./main.css")
    body
        h1 Hello. 
        h2 Currently reworking development. Check back in a bit :)
        img(src="static/placeholder.png")
        script(src="./main.js")
        
