extends ./layout

block content
    - const subpages = self.htmlWebpackPlugin.options.pages.slice(1)
    
    .content-container
        h1 Hello
        h2 My name is Renoj
        h3 This is my Portfolio
        h4 I'm so glad you could be here
        h5 Say hi when you get a chance
        h6 product design
        p 
            .
                My name is Renoj
                kjdalkdjakljdaksjdlkasjda
                d
                sdajsdlajsda
                sdadkjaslkdjalksdjalksd
                adjaksljdlaskjdlwjq oeqp wojqmdw adjaodasjdla