extends ./layout

block content
    - const subpages = self.htmlWebpackPlugin.options.pages.slice(1)
    .hero-block

        +nav(nav,topDir)
        .content-med-container.home-hero
            .align-middle
                h1.animate.fade.slide-down Renoj, Product/UX Designer with a technical mind and creative heart
                h2.mb-0.animate.fade.slide-down.delay-small Check out my work below
                h2.animate.fade.slide-down.delay-small And make sure to say “Hi” at 
                    a(href="mailto:renoj@uconn.edu")
                        | renoj@uconn.edu
    .projects.animate.slide-up.delay-large
        each project in subpages
            - const bg_url = project.icon
            .project.animate.fade.delay-large
                .project-background
                    +img_absolute(images + project.token + "/icon.png", project.token)
                
                div(class="project-text-block project-text " + project.token)
                    h3.mb-s=project.title
                    p.mb-xl=project.description
                    a(href=project.filename) 
                        h4 Read More
        