extends ./layout

include ./partials/nav

block css 
        
block content
    - const subpages = self.htmlWebpackPlugin.options.pages.slice(1)
    - const topDir = self.htmlWebpackPlugin.options.topDir
    +dropnavlist(subpages, "Projects",topDir)
    
    .super-container
        .container.clearfix
            each page in subpages
                a.portfolio-link(href=page.filename style="opacity:0")
                    .portfolio-item
                        .center.rotate-high
                            .img-container
                                img(src=images+"Screen1.png")            
                        .center-text 
                        h3.header=page.title
    
