extends ./layout
        
block content
    - const subpages = self.htmlWebpackPlugin.options.pages.slice(1)
    
    .super-container.align-center
        .container.clearfix
            each page in subpages
                a.portfolio-link(href=page.filename style="opacity:0")
                    .portfolio-item
                        .center.rotate-high
                            .img-container
                                img(src=page.icon alt=page.title)            
                        .center-text 
                        h3.header=page.title
    
