- const images = self.htmlWebpackPlugin.options.imgDir
- const nav = self.htmlWebpackPlugin.options.nav
- const topDir = self.htmlWebpackPlugin.options.topDir
include partials/nav
doctype html
html(lang="en")
    head
        title= self.htmlWebpackPlugin.title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Renoj's portfolio")
        meta(name="author" content="Renoj Varghese")
        each css in self.htmlWebpackPlugin.files.css
            link(href=css, rel='stylesheet')
        block css
    body
            block header
            block content
            each js in self.htmlWebpackPlugin.files.js
                script(type='text/javascript', src=js)
            block js

block header
    header
        +nav(nav, topDir)
