extends ../layout


block content
    .project-container
        h1.project-title Antibiotics App
        +section("Background")
            span.
                The project was a collaboration with doctors 
                at Connecticut Children's Medical Center (CCMC).
                The inspiration for the app came when doctors at 
                CCMC traveled to third world countries and 
                found that medical facilities could use a 
                better solution to choosing the right 
                antibiotic for a bacterial disease. 
                Some medical facilities may not have a specific
                medication for a disease, but another antibiotic can be 
                substituted. Doctors at CCMC wanted to create an app 
                that these facilities could use to find the best substitute antibiotic.
        .external-links
            +link(images+"CCMCMockups.pdf")
                | View Full Mockups
            +link(images+"CCMCWireframes.pdf")
                | View Full Wireframes
        
        +section("User Stories")
            span.
                These are the requirements for the Antibiotics application. 
                The goal of the project of the project was to provide doctors a way to provide better a diagnosis and medication
            +img("stories1.jpg", "user stories")
            +img("stories2.jpg", "user stories")
        +section("Wireframes")
            span.
                After receiving the user stories, another designer and set out to wireframe the best way to organize application.
                The biggest UX consideration were how to connect information about medical diagnoses, 
                the bacteria responsible for the disease, and the proper medications for the bacteria.
            +img("wireframes.jpg", "wireframes")
        +section("Icon Design")
            span.
                One of my specific tasks was designing the icons. I used Adobe Illustrator to sketch designs of an icons set that would 
                best represent diagnoses, bacteria, and antibiotics. The icons had to be understandable to anyone.
            +img("iconset.jpg", "icons")
        +section("Styling")
            span.
                The other designer and I experimented with many different color palettes, fonts, and styles. Initially we though have using the brand colors of CCMC, 
                but we decided to give the app it's own identity. A monochromatic color system and sans-serif font worked the best for readability and usability.
            +img("otherstyles.jpg")
        +section("Final Mockups")
            span.
                These are samples of the final design for the Antibiotics App. We chose a greenish teal color to represent medical scrubs 
                and the font Roboto for an easy-to-read font that comes natively with many devices.
            +img("final.jpg", "final mockup")
            
        .external-links
            +link(images+"CCMCMockups.pdf")
                | View Full Mockups
            +link(images+"CCMCWireframes.pdf")
                | View Full Wireframes
                
        +backHome(topDir)
