extends ../layout


block content
    .project-container
        h1.project-title Antibiotics
        +section("Background")
        
        .external-links
            +link(images+"CCMCMockups.pdf")
                | View Full Mockups
            +link(images+"CCMCWireframes.pdf")
                | View Full Wireframes
        
        +section("User Stories")
        +section("Wireframes")
        +section("Icon Design")
        +section("Styling")
        +section("Final Mockups")
