extends ../layout


block content
    .project-container
        h1.project-title Antibiotics App
        +section("Background")
            span.
                The project was a collaboration with doctors 
                at Connecticut Children's Medical Center (CCMC).
                The inspiration for the app came when doctors at 
                CCMC traveled to third world countries. They 
                found that medical facilities could use a 
                better solution to choosing the right 
                antibiotic for a disease. 
                
            +role("UX/UI Designer")
              | I worked with another designer to create wireframes, an icon set, a color palette, and final mockups 
              | for the developer team.
         
            +external
                +link(images+"CCMCMockups.pdf")
                    | View Full Mockups
                +link(images+"CCMCWireframes.pdf")
                    | View Full Wireframes
        +problem("How might we help doctors prescribe the right antibiotic?")

        +section("Research")
            +subheader("Stakeholder Interviews")
            +subheader("Key Insights")
            +list()
              +listItem("The key user base will be doctors, with medical training to diagnose patients")
              +listItem("Medical facilities may not have the recommended antibiotic on hand, but substitute medication might be available")
              +listItem("Doctors are likely to have a mobile device")
              +listItem("Wi-fi may not be reliable, so we have to reduce load time")
              +listItem("Medical Information on the app has to be updated by a medical professional")
            +subheader("Personas")
              //- describe who we are designing for
        +section("Two Part Solution")
          +subheader("Part 1: Mobile App for Doctors")
          +subheader("Part 2: Web Content Management System")
        //- img("how systems interact")
        //-+section("User Journeys")
          +subheader("Combining both user stories into one timeline")
        //- img("user stories")
        
        
        +section("Process")
            +img("docs_process-diagram.jpg")
        +section("User Stories")
            span.project-p.
                These are some of the requirements for the Antibiotics application. 
                The goal of the project of the project was to provide doctors a way to provide better a diagnosis and medication
            +img("docs_user-stories.jpg", "user stories")
      
        +section("Wireframes")
          +subheader("Technical Challenges")
          span.
          +subheader("Mobile App for Doctors")
          .display-flex
            .grid-6
                +img("mock-diagnosis-wire.png", "diagnosis")
            .grid-6.pad-15
                +subheader("Diagnosis Information")
                span.
                  When a doctor finds the diagnosis that they are looking for, 
                  they are given a list of antibiotics that could be used to treat the disease as well as 
                  the organisms that might be repsonsible.
            .grid-6
                +img("mock-search-wire.png", "search screen")
          
          
          
          +subheader("CMS for Admins")
          +img("mocks-antibiotic-search-wire.png", "antibiotic search")
          +img("mocks-dashboard-search-wire.png", "antibiotic search")
          +img("mocks-edit-diagnosis-wire.png", "antibiotic search")
        
        +section("User Flow")
        +section("Styles and Icons")
          +subheader("UI choices")
          +subheader("Icons to navigate app")
          
          
        +section("Solution")
          +img("mocks-diagnosis.png", "diagnosis")
          +img("mocks-search-result.png", "search screen")
          +img("mocks-antibiotic-cms.png", "antibiotic search")
          +img("mocks-edit-diagnosis.png", "antibiotic search")
          +subheader("Mobile App: Search for Diagnosis")
          +subheader("Mobile App: Find Recommended Medication & Causal Organism")
          +subheader("CMS: Dashboard")
          +subheader("CMS: Adding New Content")
        
        +section("Conclusion")
          +subheader("Project on hold")
          +subheader("Next Steps")
            +list()
              +listItem("User Testing")
              //-How and Why?
              +listItem("Passing Documents to Developers")
          +subheader("Lessons")
            +list()
              +listItem("Work with other designers and developers")
              +listItem("Understanding technical limitions")
              
            
            
            
    //-    +section("Wireframes")
            span.project-p.
                After receiving the user stories, another designer and set out to wireframe the best way to organize application.
                The biggest UX consideration were how to connect information about medical diagnoses, 
                the bacteria responsible for the disease, and the proper medications for the bacteria.
            +img("docs_wireframes.jpg", "wireframes")
            span.project-p.
                A user flow helped illustrated the way a doctor could find relevant medication for a disase. Below is the path. 
            +img("docs_user-flow.jpg", "user flow")
        +section("Icon Design")
            span.project-p.
                One of my specific tasks was designing the icons. I used Adobe Illustrator to sketch designs of an icons set that would 
                best represent diagnoses, bacteria, and antibiotics. The icons had to be understandable to anyone.
                They had be enough to tell the user what type of data they were viewing at just a glance.
            +img("iconset.jpg", "icons")
        +section("Styling")
            span.project-p.
                The other designer and I experimented with many different color palettes, fonts, and styles. Initially we though have using the brand colors of CCMC, 
                but we decided to give the app it's own identity. A monochromatic color system and sans-serif font worked. the best for readability and usability.
                We decided to go with a medical scrub green and the font Roboto that is installed natively on most Android phones. This would help reduce load time if WiFi was slow. 
            +img("otherstyles.jpg")
            +img("Final.jpg")
        +section("Solution")
            span.project-p.
                These are samples of the final design for the Antibiotics App. We chose a greenish teal color to represent medical scrubs 
                and the font Roboto for an easy-to-read font that comes natively with many devices.
            +img("wireframes-to-mockup.jpg", "final mockup")
            //- feature: search for a a diagnosis, antibiotic, or organims
            //- feature: diagnosis page
            //- feature: CMS add diagnosis
            //-- feature: connect diagnosis to antibiotic and oragnism
        .external-links
            +link(images+"CCMCMockups.pdf")
                | View Full Mockups
            +link(images+"CCMCWireframes.pdf")
                | View Full Wireframes
                
        +backHome(topDir)
        
//-require Process explanation
  //require Conclusion
//- 
