extends ../layout

block content
    .project-container
        h1.project-title GovContact
        +section("Background")
        
        .external_links
            +link("https://gov-contact.herokuapp.com")
                | View App
            +link("https://github.com/renojvarghese/gov-contact-dos")
                | View Code
        
        +section("User Stories")
        +section("Wireframes")
        +section("Styles and Icons")
        +section("Development and Final App")
            
