extends ../layout

block content
    .project-container
        h1.project-title GovContact
        +section("Background")
            //-talk about class project
            span.
                Don't know if it's just me, but I've been frustrated with politics in the U.S. over the past few years.
                Conversations between citizens happen over social media, but there should more communication with legistators: those who have the immediate power to make effective change.
                As part of a class project, I decided to tackle this specific problem by designing an app that helps citizens contact their representatives more often.
            +role("UX Researcher & UX/UI Designer")
                | Conducted a competitive analysis on similar web apps, wrote user stories based on what was missing, created wireframes to put my ideas on paper, made prototypes of the app, and tested it with real users.
        +problem("How might we help U.S. citizens contact their representatives to create effective change?")
        +section("Research")
            +subheader("Initial Focus Group")
            span.
              The initial focus group was composed of my classmates, all of whom were at or above voting age. 
              I presented my idea in class to hear some of the questions and frustrations a citizen might have. 
              We talked about how most only knew who their Congressmen and Governor were. 
              If one of my classmates were to contact a representative, they would use a search engine to find a representatives social media or email address. 
              This research was a good primer to think about how a citizen would need contact information for all their representatives at the federal, state, and local levels. 
            +subheader("Competitive Analysis")
            span.
              There are many applications (mobile and web) that can find U.S. governmental offcials.
              My methodology for research was to understand their user experience and see what could be improved. 
              Part of this research was to also read the reviews of these apps (the good, the bad, and the odd). 
              The research spanned government, non-profit, and commercial organizations. 
            +img("ca-logos.jpg", "competitive analysis icons")
            +subheader("Online Research")
            span
              | News articles and statstics were useful to understand 
              a(href="https://www.nytimes.com/2016/11/22/us/politics/heres-why-you-should-call-not-email-your-legislators.html")
                | who responds to citizen communication
              |, 
              a(href="https://www.azavea.com/blog/2017/10/03/whats-the-best-way-to-contact-your-representatives/")
                | some effective ways of contact 
              |, 
              a(href="https://www.quorum.us/data-driven-insights/congress-social-media-2018/412/")
                | active representatives are on social media
              | .
              | The research helped picture what were the best methods of contacting a representative in both terms of efficacy and availability
              | It crucial to understand this when deciding what contact info (email, phone, social media handles etc) to provide.
            +subheader("Contacting my own Representatives")
            span.
              The best way to understand the process of contacting a government representative is to contact a government representative. 
              I called 5 representatives' offices to interview someone working there.
              I learned that it is usually an intern or staff member that receives the call/email/letter. The message is usually recorded as part of a tally or redirected to the proper office.
              A caller can receive immediate feedback over the phone. An email or letter will usually receive a templated response. 
              Understanding this process helped me make key design decisions in the future. 
            +subheader("Personas")
            span.
              The culminating result of the previous research: the personas to empathize with during the design process.
              I tackled the problem from two perspectives. One is Briana Jackson, a nurse who 
              Another perspective is Terry Mendoza, who would use the app for a limited time to tell his story to his legislators. 
            +img("persona_briana.png", "Persona Briana Jackson")
            +img("persona_terry.png", "Persona Terry Mendoza")
            +subheader("Key Insights")
            +list()
              +listItem("Represenative information varies greatly between apps")
              +listItem("Finding contact info can take some time")
                | account creation + 
              +listItem("Political neutrality is important")
              +listItem("Ads should be avoided")
              +listItem("Frequency is the key to getting through")
                | From the conversations with representatives' offices, it seemed that it is more effective for citizens to contact representatives frequently on issues.
                | A citizen's stance is usually recorded as part of a tally. 
            
        +section("Initial Idea: Web App")
        
        +section("User Stories")
            span.project-p.
                The following user stories represent what GovContact is able to do.
                Writing user stories helped me think inside the shoes of someone who might use this app.
                I considered how Terry could find the names of the state legislators making a decision on a free tuition bill.
                Briana should be able to use GovContact to find channels to communicate with a politician directly, such as through phone, email or social media. 
            +img("govcontact_user-stories.jpg", "user stories")
        +section("Wireframes")
            //-- explain process of what info to put on card
            //-- place graph from that website
            //-- explain how we chose four contact ways
            +subheader("Deciding What Contact Information To Have")
            span.project-p.
                One of the main challenges of this app is to decide which forms of contact to provide to citizens.
                Every Government representative has a phone line and email, and most officials utilize social media. 
                Representatives also have websites as well.
                People can also send in hand letters to a physical address. There's also the question of showcasing the political party which each official belongs to.
                With so many options it was difficult to choose what contact info to show.
                
                Examples of my information experiments can be found below
            +img("govcontact_wireframes-cards.png", "wireframes")
            +subheader("Final Wireframes")
            span.project-p.
                The final decision for contact info was to include a phone number, an email address, and links to at least Twitter and Facebook.
                The online research on the efficacy as well as the digital availability and convenience supported my decision. 
                Interviews with represenatives' offices showed that phone and emails were also the most effective forms of contact.
            span.project-p.
                To keep it simple, the web app is a search screen, similar to Google or another search engine. 
                The query is to type in a home address, which is the most accurate key to find a person's representatives.
            +img("govcontact_wireframes.jpg", "wireframes")
        +section("Styles and Icons")
            span.project-p.
                The colors and icons for the app. I went with the classic red, white, and blue, 
                since I was focusing on government representatives in the U.S.A. 
                To convey the governmental nature of the app, graphics were designed around stars, flags, and government buildings.
                The colors helped accent this tone. 
                Color was also important to indicate political party.
                Democrats would be given a blue icon, republicans would given a red icon, an independents/moderates/unknown party would not given an icon.
                The fonts Lato and Roboto offered strong readability. Varying fonts better highlighted information (e.g. Lato Bold for a representative's name)
            +img("style-guide.png", "styles").white-bg
        
        +section("Prototyping")
            +subheader("Code Prototypes are GREAT, but also time-consuming")
            span.
              The first prototype was created using React.js and Google Civic API. It was a great way to combine my programming skills with my design skills.
              Having something fully interactable (compared to click-through prototypes) was helpful during user testing. There was greater insight into how someone would use GovContact in the wild.
              However, a lot of time was invested in programming that could have been dedicated to reviewing design decisions or organizing a user study.
              In the end, it was worth the investment, and I also better understand when a code prototype is needed. 
            +subheader("Link & Screenshots to Prototype")
            span.
                 Here are screenshots of the 
                first prototype. It can also be found by clicking 
            a.link(href="https://gov-contact.herokuapp.com")
                | here. 
            +subheader("First Screen: Search Bar")
            span.
              The first screen of the web app is for the user to search for the representatives, by address.
              It starts with header, with a description of GovContact and a hero image to display brand.
              The only interactable item is the search box to input an address.
            +img("final-result.png", "final")
            +subheader("Second Screen: All the Reps")
            span.
              The second half of the app is to display all the representatives' information in a card format, which was decided upon in the wireframe stage.
              Every representative is required to have atleast an email and phone number. A Twitter or Facebook handle will also be displayed.
            +img("final-result2.png", "final") 
        +section("User Testing")
            span.project-p.
                Testing the app revealed that:
            +list()
              +listItem("Less red, white and blue")
                  | Users tended to prefer a more neutral color palette. The app could be expanded to other countries than the U.S. The use of red and blue may have conveyed the feeling of political parties more than government itself. 
                  | As a designer, it's tough to hear that colors don't work well. But maybe there's a better way to give the right feel for GovContact.
              //- differentiate federal vs state vs local  
              +listItem("Possibly find user's location automatically")
                  | Though it was never mentioned, a later thought was to be able to track a user's location through their browser.
                  | It would eliminate any steps a person would need to take to find a government official
              +listItem("Would likely not be used on a website")
                  | Almost every interviewee said they would be unlikely to go onto the site when they wanted to talk to their represenative.  
                  | They were more likely to use a search engine instead. 
              +listItem("Would be better as a mobile app")
                  | One user commented how GovContact would be better as a mobile app. It would be like having your senator as one of your personal contacts.
                  | Even though this was only one user's input, the feedback hinted on the other users' needs. It is easy to forget a link or use a search engine instead.
                  | But as a mobile app, GovContact is given greater weight and semblance inside a user's phone. 
                  
            
            //-add specific features
        +section("Solution")
            span.
                Taking this feedback, I made a second prototype as a mobile app. A lesson I learned was that code prototypes take a long time.
                This prototype was done in Invision and can be found 
            a.link(href="https://invis.io/HSRFG9VWNAQ")
                | here
            +img("govcontact_second-it-mock.jpg", "second mocks")
            div(style="width: 50%; display: flex; justify-content: space-between;")
              +img("gc_rep-card.png")
              +img("gc_rep-card-expand.png")
            //-- user flow
            //-- onboarding process in 2 steps
            //-- designed with thumb in mind
            //-- Style talk
                //-- colors, photos, overlays
                
        +section("Reflection and Next Steps")
            //- user interviews from the beginning
            //- possibly provide prompts or templates to interact with representatives
                //- could template email, or script for a phone call. 
                //- make it even simpler to tell a representative what a citizen thinks
            //- ready for development
                //- could test with real people
                //- see if it helps people contact their representatives more often
            //- features to test 
                //- templates for what to say during a call, tweet, email
    //- ***** Honorable Mentions - templates for sm, phone | news articles | show upcoming bills
    //- ***** Challenge 1 - Card Info, Challenge 2 - React.js 
    //- ***** Fix pop-up menu
    //- ***** Refix InVision App
    //- ***** Embed InVision App
    //-insert process
    //-update process image
//-
        +section("Process")
            +img("govcontact_process.jpg", "process")
        +section("Research")
            +subheader("Initial Project Pitch")
                span.project-p.
                    By pitching my idea to the class, I was able to get some initial insight on how to design this web app.
                    The main piece of feedback I received was to keep the application simple as possible for someone to learn about their representatives.
                    This meant leaving out any signup forms, providing a simple set of set of instructions, and mapping the fewest number of steps to lead people to contact their representative. 
            //-- insert pitch to class all at voting age
            //-- insights were  
                //- 1) make it as simple as possible -  no signups, easy instructions, fewest possible steps
            +subheader("Competitive Analysis")
                span.project-p.
                  There are many applications (mobile and web) that can find U.S. governmental offcials.
                  My methodology for research was to understand their user experience and see what could be improved. 
                  The research spanned government, non-profit, and commercial organizations. 
                  I conducted a competitive analysis, looking at where this app could make an impact.
                  Here are some of my insights that I wanted to bring to GovContact:
                +list()
                  +listItem("Do not focus on specific issues")
                      | A couple of the applications were focused on highlighting specific issues.
                      | Though it encouraged people to contact their representatives, this app should be more neutral
                  +listItem("No requirement for creating an account or signing up by email")
                      | One aspect that GovContact should avoid is trying to get citizens to sign up for an app.
                      | The onboarding process should be as quick as possible and limited to entering a physical address
                  +listItem("Keep it Simple")
                      | For this app, I wanted to create a tool people could quickly and simply reach their representatives.
                      | Something that would be 
                  +img("govcontact_analysis.jpg", "wireframes", "Part of the matrix for my competitive analysis.")
            //- add screenshots of various apps that drew inspiration
            +subheader("Personas")
                span.project-p.
                    Personas helped me think about user needs and how someone might use GovContact.
                    I tackled the problem from two perspectives. One is Briana Jackson, who could use GovContact on a regular basis when she wants to talk to a politician or give a supporter a way to find their representative.
                    Another perspective is Terry Mendoza, who would use the app for a limited time to tell his story to his legislators. 
                +img("persona_briana.png", "Persona Briana Jackson")
                +img("persona_terry.png", "Persona Terry Mendoza")
        +section("User Stories")
            span.project-p.
                The following user stories represent what GovContact is able to do.
                Writing user stories helped me think inside the shoes of someone who might use this app.
                I considered how Terry could find the names of the state legislators making a decision on a free tuition bill.
                Briana should be able to use GovContact to find channels to communicate with a politician directly, such as through phone, email or social media. 
            +img("govcontact_user-stories.jpg", "user stories")
        +section("Wireframes")
            //-- explain process of what info to put on card
            //-- place graph from that website
            //-- explain how we chose four contact ways
            +subheader("Deciding What Contact Information To Have")
            span.project-p.
                One of the main challenges of this app is to decide which forms of contact to provide to citizens.
                Every Government representative has a phone line and email, and a strong majority of officials utilize social media. 
                Representatives also have websites as well.
                People can also send in hand letters to a physical address. There's also the question of showcasing the political party which each official belongs to.
                With so many options it was difficult to choose what contact info to show.
                
                Examples of my information experiments can be found below
              
            +img("govcontact_wireframes-cards.png", "wireframes")
            span.project-p.
                To make a final decision, I considered solving the problem by balancing:
            +list()
                +listItem("What is most accessible to someone using this app")
                    | Considering the web platform, it is easy to assume that someone has internet connection and is on their laptop/phone.
                    | Briana and Terry would both need contact information that they could immediately use
                    | The fastest ways to contact a representative would be through email, social media, and a phone call.
                +listItem("What are the most effective ways to contact a representative")
                    | For this portion, I conducted some online research to learn what contact methods are most influentional.
                    | From an 
                    a(href="https://www.nytimes.com/2016/11/22/us/politics/heres-why-you-should-call-not-email-your-legislators.html")
                      | article 
                    | by Daniel, it seemed that phone calls were effective to contact a representative directly or atleast their office.
                    | It was also considered to be more effective in state and local governments. This is particuraly important for Terry, who trying to get a state law to pass, and Briana who hopes the law will support her local community. 
                    | According to a 
                    a(href="https://www.azavea.com/blog/2017/10/03/whats-the-best-way-to-contact-your-representatives/")
                      | study 
                    |  done by Azavea where 1000 government officials were surveyed,
                    | the top 3 forms of contact were email (77% approved), social media (13%), and phone (11%)
                    | With email with such strong approval and accessiblity, an email address should be provided.
                    | Alongside email, there should be some social media handles. Based on a 
                    a(href="https://www.quorum.us/data-driven-insights/congress-social-media-2018/412/")
                      | survey on social media 
                    | done by a site called Quorum, it seemed that politicians were most active on Facebook and Twitter. 
      
            +subheader("Final Wireframes")
            span.project-p.
                The final decision for contact info was to include a phone number, an email address, and links to at least Twitter and Facebook.
                
            span.project-p.
                To keep it as simple, the web app is a search screen, similar to Google or another search engine. 
                The query is to type in a home address, which is the most accurate key to find a person's representatives.
            +img("govcontact_wireframes.jpg", "wireframes")
        +section("Styles and Icons")
            span.project-p.
                The colors and icons for the app. I went with the classic red, white, and blue, 
                since I was focusing on government representatives in the U.S.A. 
                To convey the governmental nature of the app, graphics were designed around stars, flags, and government buildings.
                The colors helped accent this tone. 
                Color was also important to indicate political party.
                Democrats would be given a blue icon, republicans would given a red icon, an independents/moderates/unknown party would not given an icon.
                The fonts Lato and Roboto offered strong readability. Varying fonts better highlighted information (e.g. Lato Bold for a representative's name)
            +img("style-guide.png", "styles").white-bg
        +section("Feedback")
            span.
                The first prototype was created using React.js and Google Civic API. Here are screenshots of the 
                first prototype. It can also be found by clicking 
            a.link(href="https://gov-contact.herokuapp.com")
                | here. 
            span.project-p.
                Testing the app revealed that:
            +list()
              +listItem("Less red, white and blue")
                  | Users tended to prefer a more neutral color palette. The app could be expanded to other countries than the U.S. The use of red and blue may have conveyed the feeling of political parties more than government itself. 
                  | As a designer, it's tough to hear that colors don't work well. But maybe there's a better way to give the right feel for GovContact.
              //- differentiate federal vs state vs local  
              +listItem("Possibly find user's location automatically")
                  | Though it was never mentioned, a later thought was to be able to track a user's location through their browser.
                  | It would eliminate any steps a person would need to take to find a government official
              +listItem("Would likely not be used on a website")
                  | Almost every interviewee said they would be unlikely to go onto the site when they wanted to talk to their represenative.  
                  | They were more likely to use a search engine instead. 
              +listItem("Would be better as a mobile app")
                  | One user commented how GovContact would be better as a mobile app. It would be like having your senator as one of your personal contacts.
                  | Even though this was only one user's input, the feedback hinted on the other users' needs. It is easy to forget a link or use a search engine instead.
                  | But as a mobile app, GovContact is given greater weight and semblance inside a user's phone. 
                  
            +img("final-result.png", "final")
            +img("final-result2.png", "final") 
            //-add specific features
        +section("Solution")
            span.
                Taking this feedback, I made a second prototype as a mobile app. A lesson I learned was that code prototypes take a long time.
                This prototype was done in Invision and can be found 
            a.link(href="https://invis.io/HSRFG9VWNAQ")
                | here
            +img("govcontact_second-it-mock.jpg", "second mocks")
            //-- user flow
            //-- onboarding process in 2 steps
            //-- designed with thumb in mind
            //-- Style talk
                //-- colors, photos, overlays
                
        +section("Reflection and Next Steps")
            //- user interviews from the beginning
            //- possibly provide prompts or templates to interact with representatives
                //- could template email, or script for a phone call. 
                //- make it even simpler to tell a representative what a citizen thinks
            //- ready for development
                //- could test with real people
                //- see if it helps people contact their representatives more often
            //- features to test 
                //- templates for what to say during a call, tweet, email
                
        +external
            +link("https://gov-contact.herokuapp.com")
                | View First Prototype
            +link("https://invis.io/HSRFG9VWNAQ")
                | View Second Iteration Prototype

        +backHome(topDir)


//-
  //require Solution user flow 
  //require Conclusion
