extends ../layout

block content
    .project-container
        h1.project-title GovContact
        +section("Background")
            span.
                GovContact allows you to search and find your government representatives.
                The purpose is to be able to contact those who have legislative power. The idea for the application
                came from the Battle for Net Neutrality campaign, which displayed every representative's 
                contact information. I wanted to replicate that in a more general app.
            +role("UX Researcher & UX/UI Designer")
            +external
                +link("https://gov-contact.herokuapp.com")
                    | View App
                +link("https://github.com/renojvarghese/gov-contact-dos")
                    | View Code
        +problem("How might we make it simpler to find a government representative?")
        +section("Research")
            span.
              There are many applications (mobile and web) that can find U.S. governmental offcials.
              My methodology for research was to understand their user experience and see what could be improved
              The reearch spanned government websites, mobile applications, and developer side projects 
              Here are some of my insights:
            +list()
              +listItem()
                  Focus on specific issues
              +listItem()
                  Sign up for app/Enter email
              +listItem()
                  There ought to be an easier look up system
                
        +section("Process")
            span.
        +section("User Stories")
            span.
                The following user stories represent what GovContact is able to do.
                Writing user stories helped me think inside the shoes of someone who might use this app.
            +img("user-stories.png", "user stories")
        +section("Wireframes")
            span.
                After writing user stories, I went to design the interface for GovContact.
                I chose to showcase government representatives in a card style to encapsulate all the information
                about that representative in one place.
            +img("wireframes.png", "wireframes")
            +img("search-wireframe.png", "search wireframe")
            +img("results-wireframe.png", "results wireframe")
        +section("Styles and Icons")
            span.
                The colors and icons for the app. I went with the classic red, white, and blue, 
                since I was focusing on government representatives in the U.S.A.
            +img("style-guide.png", "styles").white-bg
        +section("Prototype")
            span.
                The final app was created using React.js and Google Civic API. Here are screenshots of the final 
                app. 
            +img("final-result.png", "final")
            +img("final-result2.png", "final")
            
        .external-links
            +link("https://gov-contact.herokuapp.com")
                | View App
            +link("https://github.com/renojvarghese/gov-contact-dos")
                | View Code
        
        +backHome(topDir)


//-require role 
  //require research insights
  //require research excelsheet
  //require Process user story -> wireframe -> color pallete -> mockup
  //require Solution to be initial prototype (Code)
  //require Solution feedback
  //require Solution second feedback
  //require Conclusion
