extends ../layout

block content
    .project-container
        h1.project-title GovContact
        +section("Background")
        
        .external-links
            +link("https://gov-contact.herokuapp.com")
                | View App
            +link("https://github.com/renojvarghese/gov-contact-dos")
                | View Code
        
        +section("User Stories")
            +img("user-stories.png", "user stories")
        +section("Wireframes")
            +img("wireframes.png", "wireframes")
            +img("card-wireframe1.png", "card wireframe")
            +img("search-wireframe", "search wireframe")
            +img("results-wireframe.png", "results wireframe")
        +section("Styles and Icons")
            +img("style-guide.png", "styles")
        +section("Development and Final App")
            +img("final-result.png", "final")
            +img("final-result2.png", "final")
            
        .external-links
            +link("https://gov-contact.herokuapp.com")
                | View App
            +link("https://github.com/renojvarghese/gov-contact-dos")
                | View Code
        
        +backHome(topDir)
