extends ../layout

block content
    .project-container
        h1.project-title Graphic Design
        +section("Logos").display-flex
          +img("logos/codecademy.jpg").grid-6.fade-in.delay-medium
          +img("logos/figma.png").grid-6.fade-in.delay-medium
          +img("logos/sanskriti.jpg").grid-6.fade-in.delay-little
        +section("Illustrations").display-flex
          +img("acroart/splitsLyra.jpg").grid-8.fade-in.delay-little
          +img("acroart/butterfly.jpg").grid-4.fade-in.delay-medium
          +img("acroart/silksKick.jpg").grid-6.fade-in.delay-little
          +img("acroart/hangSilks.jpg").grid-6.fade-in.delay-medium
          +img("acroart/ironxPole.jpg").grid-4.fade-in.delay-high
