extends ../layout

block content
    .project-container
        h1.project-title Fashion Tech
        
        +section("Background")
            span.
                Projection mapping is the process of using projectors ( the same ones used for PowerPoint Presentations)
                to display animation on irregular 3D surfaces. 
                The technology has been used for performances and artistic pieces, but I wanted to
                see its potential as a UX prototyping tool. 
                The goal of the project was to prototype a new type of store display, in which mannequins could showcase multiple 
                styles. The concept evolved to show what could be done by integrating technology into clothing.
                For example, consider how somone could change the color and style of their shirt by just swiping their
                fingers across their chest. You can find my prototypes below.
            +role("Animator and Designer") 
                | Researched current trends in projection mapping to create my own display. Prototyped what the technology can do using a mannequin and my own animations.
        +external
            +link("https://youtu.be/5XgdD2-lhns")
                | View First Prototype
            +link("https://www.youtube.com/watch?v=Omat1RN2bmA")
                | View Final Prototype    
        +problem("How could projection mapping change retail fashion?")
        +section("Research")
            span.
                To investigate current trends, I explored what had already been done in a similar space. 
                Projection mapping is usually used for artistic displays. I wanted to use the technology as more of a UX prototyping tool.
                Some results of my visual research can be found below.
            +img("style-tile.jpg", "visual research")
        +section("Process")
            span.
                The mapping process involved tracing over the object to find the shape of the mannequin and its features.
                Afterwards, I used After Effects to animate a video that showcased different styles of sunglasses. Below is
                an example of the mask and animation in After Effects.
            +img("aework.jpg", "after-effects")
        +section("Solution")
            +subheader("Initial Prototype")
            span.
                The first test run, videoed below, is the result of projecting my animation on to a mannequin mannequin head. The animation changes
                the colors of hair, eyebrows, lipstick, and sunglasses to show the potential for accessory store displays.
            +youtube("5XgdD2-lhns","mannequin video")
            +subheader("Final Prototype and Show")
            span.project-p.
                For the final show, I used a full-mannequin for the display. I took it as opportunity to see what can be done with technology embedded in clothing
                Clothing could be animated graphics, might biometric data, and switch styles within seconds. My projection was presented at my school's open house. Prospective students and their families came
                to see this performance.
            +youtube("Omat1RN2bmA","mannequin video")
        +backHome(topDir)
//-
  require conclusion
