extends ../layout

block content
    .project-container
        h1.project-title Hello. 
        
        +section("Background")
        .external_links
            +link("https://youtu.be/5XgdD2-lhns")
        
        +section("Process")
        +section("Final Show")
            +youtube("5XgdD2-lhns","mannequin video")
