extends ../layout


block content
    .project-container
        h1.project-title Motion Design 
        +section("Animations")
            +vimeo("327642216")
            +vimeo("327642357")
            +vimeo("319539661")
            +vimeo("314333214")

        +section("Projection Mapping")
            +vimeo("325759828")
            +vimeo("325766575")
            
