extends ../layout


block content
    .project-container
        h1.project-title Music Web Visualizer
        +section("Background")
        
        .external-links
            +link("https://github.uconn.edu/pages/rkv14001/3D-spheres/")
                | View App
            +link("https://github.uconn.edu/rkv14001/3D-spheres")
                | View Code
                
        +section("Intial Sketches")
            +img("sketch1.jpg", "visualiser sketch")
            +img("sketch2.jpg", "visualiser sketch")
            +img("sketch2.jpg", "visualiser sketch")
        
        +section("Process and Final Result")
            +img("screen1.png", "visualiser final")
            +img("screen2.png", "visualiser final")
            +img("screen3.png", "visualiser final")
        
        .external-links
            +link("https://github.uconn.edu/pages/rkv14001/3D-spheres/")
                | View App
            +link("https://github.uconn.edu/rkv14001/3D-spheres")
                | View Code
        +backHome(topDir)
