extends ../layout

block content
    .project-container.content-container
        h1.project-title Hello There. 
        h3 This is page is still a work in progress. Check back soon :)

    +project-end-cta()

    
block css
    style.
        //- .solution-block {
        //-     background: #DCB167;
        //- }
        //- .solution-block h1 {
        //-     color: #fefefa;
        //- }
        //- .solution-block h2 {
        //-     color: #fefefa;
        //- }
        //- .solution-block h3 {
        //-     color: #fefefa;
        //- }
        //- h6,blockquote {
        //-     color: #DCB167;
        //- }
        //- .solution-block h6 {
        //-     color: #fefefa;
        //- }
        //- .solution-block p {
        //-     color: #fefefa;
        //- }
        //- .tint-box {
        //-     background: #F0E2CC;
        //- }
