extends ../layout

block content
    .project-container
        h1.project-title Hello. 
        +section("Background")
        +external
          +link("")
            | View Link
        +problem("Problem Statement")
        +section("Process")
        +section("Solution")
        +section("Next Steps")
        +external
          +link("")
            | View Link
        +backHome(topDir)
