extends ../layout

block content
    .project-container.content-container
        h1.project-title Hello There. 
        h3 This is page is still a work in progress. Check back soon :)
        a(href=topDir) Take me Home