extends ../layout

block content
    .project-container
        h1.project-title Sanskriti Logo
        
        +section("Client Background")
        
        .external_links
            +link("https://www.facebook.com/uconnsanskriti/?fb_dtsg_ag=Adyybcdga_R8wz3oO5rQDxXY682onmmaE1QTfugRo2k8nw%3AAdxlTrDMn4lBsTviDJA8l4ja7etWjbrl07XJR-AjNBTqhw")
                | See it Live
        
        +section("Exploration")
            +img('sanskriti_exploration.jpg', "exploration")
            +img('sanskriti_fonts.jpg', "font exploration")
        +section("Initial Design")
            +img('sanskriti_prototype.jpg', "intial design")
        +section("Rework and Colors")
            +img('sanskriti_monogram.jpg', "rework")
            +img('sanskriti_colors.jpg', "colors")
        +section("Final Design")
            +img('icon.jpg', "exploration")
        
        .external_links
            +link("https://www.facebook.com/uconnsanskriti/?fb_dtsg_ag=Adyybcdga_R8wz3oO5rQDxXY682onmmaE1QTfugRo2k8nw%3AAdxlTrDMn4lBsTviDJA8l4ja7etWjbrl07XJR-AjNBTqhw")
                | See it Live
