extends ../layout

block content
    h1 Sanskriti Logo
    p
        
    h2 Client Needs
    p
    
    h2 Initial Sketches
    p
    
    h2 Choosing Brand Colors
    p
        
    h2 Final Design
    p
        
    
