extends ../layout

block content
    .project-container.content-container
        h1.project-title Sanskriti Logo Design
        h3 This is page is still a work in progress. Check back soon :)
        h6 introduction
        h2
    .tint-box.project-extra-padding
        .project-container.content-container
            .grid-2.flex
                .grid-2-item
                    h6 solution
                    h3 Final Logo
                    p.project-p.
                .grid-2-item
                    +img("sol-1.png")
    .project-extra-padding
        .project-container.content-container
            h6 research
            h3 Stakeholder Interviews
            p.project-p.
            h3 Visual research
            p.project-p.
            +img("visual-research.png")
            h3 Getting the Form and Shape
            p.project-p.
            +img("shape.png")
            h3 Playing with Fonts
            p.project-p.
            +img("typeface.png")
            h3 Colors
            p.project-p.
            +img("color.png")
    .tint-box.project-extra-padding
        .project-container.content-container
            h6 Conclusion
            h3 Final Logo
            +img("final.png")
            h3.mt-separate In Use
            +img("results.png")