extends ../layout

block content
    .project-container
        h1.project-title Sanskriti Logo
        
        +section("Client Background")
        
        .external_links
            +link("https://www.facebook.com/uconnsanskriti/?fb_dtsg_ag=Adyybcdga_R8wz3oO5rQDxXY682onmmaE1QTfugRo2k8nw%3AAdxlTrDMn4lBsTviDJA8l4ja7etWjbrl07XJR-AjNBTqhw")
                | See it Live
        
        +section("Exploration")
        +section("Initial Design")
        +section("Rework and Colors")
        +section("Final Design")
