extends ../layout

block content
    .project-container
        h1.project-title Sanskriti Logo
        
        +section("Client Background")
            span.
                Sanskriti is UConn's traditional Indian culture club. They dance and play music at
                events throughout campus. The president of the club reached out for a more elegant and 
                holistic logo to represent their different forms of dance and music.
            +img('icon.jpg', "final design")
        .external-links
            +link("https://www.facebook.com/uconnsanskriti/?fb_dtsg_ag=Adyybcdga_R8wz3oO5rQDxXY682onmmaE1QTfugRo2k8nw%3AAdxlTrDMn4lBsTviDJA8l4ja7etWjbrl07XJR-AjNBTqhw")
                | See it Live
        
        +section("Exploration")
            span.
                My initial set of logos were used to gauge what type of style best represented the club.
                In our initial checkin, we decided that the lotus would be the mascot for Sanskriti. 
                After exploring fonts, I chose Luminari for an elegant feel.
            +img('sanskriti_exploration.jpg', "exploration")
            +img('sanskriti_fonts.jpg', "font exploration")
        +section("Initial Design")
            span.
                This logo design took into account the different forms dance and music, the lotus mascot, 
                and elegant henna patterns. I wanted to be able to showcase the diversity of Indian culture.
            +img('sanskriti_prototype.jpg', "intial design")
        +section("Colors")
            span.
                Maroon and gold gave a more regality to the design. I still wanted to explore different
                color sets to see what else could said with color. Examples of my experimentation are shown below.

            +img('sanskriti_colors.jpg', "colors")
        +section("Final Design")
            span.
                For the final design, I also wanted to include a simple S design for the team. It could
                be used in T-shirts or sweaters as something simpler than a whole lotus.
                The final design took together the colors and a new perspective on the henna design pattern. It was based on simple patterns and shapes. 
                The S monogram design is also showcased to represent Sanskriti
            +img('sanskriti_monogram.jpg', "rework")
            +img('icon.jpg', "final design")
        
        .external-links
            +link("https://www.facebook.com/uconnsanskriti/?fb_dtsg_ag=Adyybcdga_R8wz3oO5rQDxXY682onmmaE1QTfugRo2k8nw%3AAdxlTrDMn4lBsTviDJA8l4ja7etWjbrl07XJR-AjNBTqhw")
                | See it Live
        +backHome(topDir)
