extends ../layout

block content
    .project-container
        h1.project-title Hello. 
        +section("Background")
            +youtube("5PB5JPtji7Y", "game demo")
            
        +section("Creating the Landscape")
            +img("cylinderfront.png", "front view")
            +img("cylinderside.png", "side view")
        +section("Game and Level Design")
            +img("levels.png", "level system")
        +section("User Interface")
            +img("ui.png", "ui")
