extends ../layout

block content
    .project-container
        h1.project-title Subconscious Contributor Program Redesign
        
        +section("Background")
            span.
                Subconscious is a mental health organization focused on raising awareness by telling real people's stories.
                Their blog articles are contributed by volunteer writers.
                The organization noticed a problem where most authors would contribute one article, but never return to write again.
                This is the process I took to solve this problem and redesign Subconscious's Contributor Program.
        +role("UX Researcher")
            | My job was to investigate how the team could improve the contributor program by interviewing past writers.
            | I worked with the editor in chief, designer, and operations officer to find insights into how we can improve our program.
        +problem("How might we help Subconscious blog writers contribute more often?")
        +section("Process")
            span.
                The first step was design a user research study to talk to our writers.
                We had 5 participants, 3 of whom had written one article and never returned. 
                The 2 other writers had written for Subconscious multiple times.
                I interviewed writers over the phone and over email/Slack.
                I asked the same set of questions to compare their motivations, their writing process, the positive, and the not so positive.
        +section("Solution")
            span.
                The final solution was to change the writer program itself.
                Here are some of the main insights and implemented changes:
            +list()
              +listItem("Get to know our contributors from the start")
                | I made an initial survey to gauge what an individual contributor is looking for.
              +listItem("More communication from the team")
                | There were a few instances where the Subconscious did not respond to a contributor's questions.
                | To avoid this, we try to make sure we are the last person to send correspondence. 
              +listItem("Specifc feedback on submission")
                | Many contributors wanted to write because they wanted experience and improve their craft.
                | We need to go beyond a simple grammar check to provide better professional experience.
              +listItem("Open up submission requirements")
                | A common strain on the writing process was the word limit. 
                | Subconscious decided to remove the word limit. If a submission is too long, it can be addressed in the editorial review process.
              +listItem("New opportunities through Subconscious")
                | To give future professional experience, we can open up roles for editing, interviewing, and journalism.
                | Artciles can also be art, photography, poetry etc.
              +listItem("Keep track of our own progress")
                | To keep improving, contributors can take a survey at the end of each submission to rate us on our process.
              +listItem("Follow up with our contributors after submission" )
                | The last point was to reach out after an article is on the site.
                | It's an opportunity to suggest new topics to explore and retain writers.
            p.
                At the end of the study, I presented my results to the team (some screenshots below). 
            +img("title.jpg", "title-slide")
            +img("results.jpg", "results-slide")
            +section("Conclusion and Next Steps")
              span.
                  Subconscious is currently in the process of implementing these changes in the contributor process. 
                  We are also updating our website to reflect the new opportunities in the program.
            +backHome(topDir)
//-
  //require role
